{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">수업/상품 등록</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <div class="box">
            <div class="box-body table-responsive no-padding" id="register-page-div">
                {% include 'manageGoods/manageLessonPartialCreate.html' %}
            </div>
        </div>
        <!-- /.box -->
    </div>
    <!-- /.box-body -->
</div>
<!-- /.row -->

{% endblock content %}

{% block extrajs %}
<script src="{% static 'js/manageLessonCreate.js' %}"></script>

{% endblock extrajs %}