{% for student in students %}
<tr>
  <td class="text-center">{{student.number}}</td>
  <td class="text-center">{{student.stname}}</td>
  <td class="text-center">{{student.contact}}</td>
  <td class="text-center">{{student.address}}</td>
  <td class="text-center">{{student.school}}</td>
  <td class="text-center">{{student.years}}</td>
  <td class="text-center">{{student.lesson}}</td>
  <td class="text-center">{{student.actState}}</td>
  <td class="text-center">
      <button type="button"
              class="btn btn-warning btn-sm js-update-student"
              url="{% url 'dashboard:studentUpdate' %}" data-id="{{student.number}}">
        <span class="glyphicon glyphicon-pencil"></span> 수정
      </button>
      <button type="button"
              class="btn btn-danger btn-sm js-delete-student"
              url="{% url 'dashboard:studentDelete' %}" data-id="{{student.number}}">
        <span class="glyphicon glyphicon-trash"></span> 삭제
      </button>
  </td>
</tr>
{% empty %}
<tr>
  <td colspan="8" class="text-center bg-warning">회원정보없음</td>
</tr>
{% endfor %}