# ignore
adminbase/__pycache__/
attendance/__pycache__/
attendance/migrations/
dashboard/__pycache__/
dashboard/migrations/
note/__pycache__/
sales/__pycache__/
sales/migrations/
note/migrations/
students/__pycache__/
students/migrations/
lessons/__pycache__/
lessons/migrations/
payments/__pycache__/
payments/migrations/
excelchart/
migrations/
adminbase/__init__.py
attendance/__init__.py
dashboard/__init__.py
note/__init__.py
students/__init__.py
payments/__init__.py
sales/__init__.py
lessons/__init__.py
student_excel/
tutor_excel/
db.sqlite3
.idea/
.vscode/
