{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block extrahead %}
<link href="{% static 'custom/css/loading.min.css' %}" rel="stylesheet">
{% endblock extrahead %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">월 매출현황</h1>
    </div>
</div>
<div class="row" id="sales-write-div">
    <div class="col-lg-6">
        <button class="btn btn-primary" id="sales-write-btn">일 매출대장 엑셀에 작성</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">일 매출대장 조회</h1>
    </div>
</div>
<div class="row" id="sales-inquire-div">
    <div class="col-lg-3">
        <select class="form-control" id="sheet-select">
            {% include 'sales/salesSheetSelect.html' %}
        </select>        
    </div>
    <div class="col-lg-3">
        <button class="btn btn-primary" id="sales-inquire-btn">조회</button>
    </div>    
</div>
<div class="row">
  pay
    <div class="col-lg-6">
        <div class="box" id="sales-list-div">
          card
        </div>
    </div>
    <div class="col-lg-6">
        <div class="box" id="sales-list-div">
          cash
        </div>
    </div>    
</div>
<div class="row">
  refund
    <div class="col-lg-6">
        <div class="box" id="sales-list-div">
          card
        </div>
    </div>
    <div class="col-lg-6">
        <div class="box" id="sales-list-div">
          cash
        </div>
    </div>    
</div>

{% endblock content %}

{% block extrajs %}
<script src="{% static 'js/monthSales.js' %}"></script>
<!-- Loading Java Script -->
<script src="{% static 'custom/js/jquery.loading.min.js' %}"></script>
{% endblock extrajs %}