<form method="post" action="{% url 'dashboard:managePaymentUpdateForm' %}" class="js-payment-update-form">
  {% csrf_token %}
  <div class="modal-header">
    <input class="hidden" name="number" value="{{payment.number}}">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">결제정보 수정</h4>
  </div>
  <div class="modal-body">
    {% include 'payments/managePaymentPartialForm.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
    <button type="submit" class="btn btn-primary">저장</button>
  </div>
</form>