{% for payment in payments %}
<tr>
  <td class="text-center">{{payment.number}}</td>
  <td class="text-center">{{payment.paymentDate}}</td>
  <td class="text-center">{{payment.paymentType}}</td>
  <td class="text-center">{{payment.item}}</td>
  <td class="text-center">{{payment.price}}</td>
  <td class="text-center">{{payment.note}}</td>
  <td>
      <button type="button"
              class="btn btn-warning btn-xs js-update-payment"
              data-url="{% url 'dashboard:managePaymentUpdate' payment.number %}">
        <span class="glyphicon glyphicon-pencil"></span> 수정
      </button>
      <button type="button"
              class="btn btn-danger btn-xs js-delete-payment"
              data-url="{% url 'dashboard:managePaymentDelete' payment.number %}">
        <span class="glyphicon glyphicon-trash"></span> 삭제
      </button>      
  </td>
</tr>
{% empty %}
<tr>
  <td colspan="8" class="text-center bg-warning">No Data</td>
</tr>
{% endfor %}