{% extends "layout/base.html" %}


{% block basecontent %}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Logged out<strong></h3>
                </div>
                <div class="panel-body">
                  <p>You have been successfully logged out.</p>
                  <a href="{% url 'dashboard:login' %}"><button class="btn btn-lg btn-success btn-block">Login Again</button></a>
              </div>
          </div>
      </div>
  </div>
</div>
    
{% endblock basecontent %}