{% for info in table %}
<tr>
  <td>
    <input class="form-control" name="number" value="{{info.number}}" placeholder="숫자">
  </td>
  <td>
    <input class="form-control" name="date" value="{{info.date}}" placeholder="YY-MM-DD">
  </td>
  <td>
    <input class="form-control" name="content" value="{{info.content}}">
  </td>
  <td>
    <input class="form-control" name="completed" value="{{info.completed}}" placeholder="작성자">
  </td>
  <td>
    <input class="form-control" name="memo" value="{{info.memo}}">
    <input class="hidden" name="cells" value="{{info.cells}}">
    <input class="hidden" name="sheetName" value="{{info.sheetName}}">
    <input class="hidden" name="stNumber" value="{{info.stNumber}}">
  </td>
  <td>
    <button type="button" class="btn btn-warning btn-sm" id="update-table-btn" url="{% url 'dashboard:lessonTableUpdate' %}">
      <span class="glyphicon glyphicon-pencil"></span> 작성
    </button>
  </td>
</tr>
{% empty %}
<tr>
  <td colspan="8" class="text-center bg-warning">레슨 테이블 정보 없음(테이블을 생성해주세요.)</td>
</tr>
{% endfor %}